<template>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                    <div class="text-danger"><h1>League</h1></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Teams</th>
                            <th scope="col">PTS</th>
                            <th scope="col">P</th>
                            <th scope="col">W</th>
                            <th scope="col">D</th>
                            <th scope="col">L</th>
                            <th scope="col">GD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="row in data">
                            <td>{{ row.team }}</td>
                            <td>{{ row.point }}</td>
                            <td>{{ week }}</td>
                            <td>{{ row.w }}</td>
                            <td>{{ row.d }}</td>
                            <td>{{ row.l }}</td>
                            <td>{{ row.gd }}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-5">
                <div class="text-danger"><h1>Predictions</h1></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{week}}th Week predictions</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in data">
                    <td>{{row.team}}</td>
                    <td>{{row.estimate}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <input type="submit" value="play all" @click="playAll">
            </div>
            <div class="col-1">
                <input type="submit" value="next week" @click="nextWeek">
            </div>
            <div class="col-1">
                <input type="submit" value="reset" @click="reset">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row pt-5">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="text-info"><h3>Match results</h3></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">{{week}}th Match results</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><div class="float-end"><input type="submit" value="edit" @click="editable=true"></div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in result">
                        <td>{{row.first_team.name}}</td>
                        <td  v-if="!editable" >{{row.first_goals}}</td>
                        <td v-else><input  type="text" v-model="row.first_goals"></td>
                        <td>-</td>
                        <td v-if="!editable">{{row.second_goals}}</td>
                        <td v-else><input type="text" v-model="row.second_goals"></td>
                        <td>{{row.second_team.name}}
                        </td>
                        <td><input  v-if="editable"  type="submit" @click="updateResult(row)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</template>

<script>
import 'axios'
export default {
    name: "league",
    data:()=>{
        return {
            editable:false,
            week:1,
            data:null,
            result:null,
            baseUrl:'http://localhost:81/'
        }
    },
    mounted() {
        this.getLeague(this.week)
    },
    methods:{
        getLeague(week){
            axios.post(this.baseUrl+'api/week', {'id':week}).then((res)=> {
                this.data = res.data.data.cols
                this.week = res.data.data.week
                this.getResults(this.week)
            }
        )
        },
        getResults(week){
            axios.get(this.baseUrl+'api/match/'+week).then((res)=>
                this.result = res.data.data
            )
        },
        nextWeek(){
            this.week++
            this.getLeague(this.week)
        },
        playAll(){
            axios.post(this.baseUrl+'api/play').then((res)=> {
                this.data = res.data.data.teams
                this.week = res.data.data.week
                this.getResults(this.week)
            })
        } ,
        reset(){
            axios.post(this.baseUrl+'api/reset').then((res)=> {
                this.data = res.data.data.teams
                this.week = res.data.data.week
                this.getResults(this.week)
            })
        },
        updateResult(row){
            axios.put(this.baseUrl+'api/match',row).then((res)=> {
                this.getLeague(this.week)
            })
        }
    }
}
</script>

<style scoped>

</style>
